/* ---------------------------------------------------------------- 
  nav용 스타일
---------------------------------------------------------------- 
*/

.nav-container {
  height: 100%;
  color: black;
  border-right: 1px solid whitesmoke;
  margin-right: 40px;
}
.nav-container .logo {
  background-color: black;
  color: white;
  padding: 30px;
  font-size: 1.4rem;
  margin-bottom: 40px
}

.nav-container .logo a {
  text-decoration: none
}

.nav-container .nav-list {
  color: white;
  padding-inline-start: 0;
}
.nav-container .nav-list li {
  margin-left: 0;
  list-style: none;
  background-color: rgba(255,255,255,0.1);
  padding: 14px;
  cursor: pointer;
}

.nav-container .nav-list li:hover {
  background-color: rgba(255,255,255,0.5);
  padding: 20px;
  border: 2px solid white
}

/* ---------------------------------------------------------------- 
  header용 스타일
---------------------------------------------------------------- 
*/

.header-container {
  height: 150px;
}

.swiper-wrapper {
  display: flex;
}

.swiper-item {
  padding: 15px;
  margin: 15px;
  background-color: skyblue;
  cursor: default
}