.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0
}

.sub-container:nth-child(1) {
  height: 100vh;
  flex: 1;
  flex-grow: 2;  
}
.sub-container:nth-child(2) {
  flex-grow: 4;  
}
.sub-container:nth-child(3) {
  flex-grow: 2;  
}
